@import "variables.less";

body {
  position: absolute;
  width: 100vw;
  height: 100vh;

  // Particles.js
  #particles {
    position: fixed;
    height: 100vh;
    width: 100vw;
    filter: blur(0.125rem);

    canvas.particles-js-canvas-el {
      position: absolute;
      top: 0;
    }
  }

  #app {
    height: 100%;
    overflow-y: auto;
    color: @text-color;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(0, 13, 16);
    background: linear-gradient(225deg, rgba(0, 13, 16, 1) 0%, rgba(7, 27, 36, 1) 10%, @background-color 100%);

    // Bootstrap components
    :not(#menu) {
      .bg-primary {
        background-color: @strongblock-blue !important;
      }
    }

    .navbar {
      .nav-link {
        & > * {
          color: inherit !important;
        }
      }

      .navbar-toggler {
        padding: 0.25rem;
        border-radius: 100%;
        background-color: fade(white, 10%);
      }

      @media (min-width: @screen-md) {
        .navbar-collapse {
          justify-content: space-evenly;
        }
      }
    }

    .form-group {
      input {
        height: 2rem !important;
      }
    }

    input {
      color: @text-color-secondary !important;
    }

    .card {
      color: @text-color-secondary !important;

      .card-body {
        p,
        fieldset,
        .alert {
          &:last-of-type {
            margin-bottom: 0px !important;
          }
        }
      }
    }

    .badge {
      font-size: 100%;

      &.light-version {
        &.badge-success {
          color: fade(white, 75%);
          border: 1px solid fade(white, 25%);
          background-color: fade(white, 10%);
        }

        &.badge-danger {
          @red: #d32f2f;
          color: fade(white, 75%);
          border: 1px solid fade(@red, 25%);
          background-color: fade(@red, 50%);
        }
      }
    }

    // Misc
    .title {
      font-weight: 400;
      font-size: 1.25rem;
      margin: 0.25rem 0 0.5rem 0;
    }

    ul {
      &.icons {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
          img {
            margin-right: 0.5rem;
          }
        }
      }
    }

    img {
      &.logo {
        height: 1.25rem;
        margin: 0 0.25rem;
        vertical-align: middle;

        &.hidden-xs {
          display: inline-block;
        }

        @media (max-width: @screen-xs-max) {
          &.hidden-xs {
            display: none;
          }
        }
      }
    }

    .nav-tabs {
      .nav-item {
        .logo {
          height: 1rem;
          margin: 0 0.5rem 0 0;
        }

        * {
          color: @text-color-secondary !important;
        }
      }
    }

    blockquote {
      border-left: 3px solid fade(@text-color, 50%);
      padding-left: 0.5rem;
    }
  }

  .light {
    font-weight: 300 !important;
  }

  // Visibility
  .visible-xs {
    display: none;
  }

  .hidden-xs {
    display: block;
  }

  @media (max-width: @screen-xs-max) {
    .visible-xs {
      display: block;
    }

    .hidden-xs {
      display: none;
    }
  }

  span {
    &.visible-xs {
      display: none;
    }

    &.hidden-xs {
      display: inline-block;
    }

    @media (max-width: @screen-xs-max) {
      &.visible-xs {
        display: inline-block;
      }

      &.hidden-xs {
        display: none;
      }
    }
  }

  // Effects
  .hover {
    @scale: 1.25;
    @duration: 0.15s;
    transition: -webkit-transform @duration;
    transition: transform @duration;
    transition: transform @duration, -webkit-transform @duration;

    &:hover {
      -webkit-transform: scale(@scale);
      transform: scale(@scale);
    }
  }
}
