@import "variables.less";

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @text-color;
  
    .navbar {
      margin-bottom: 15px;
    }
  
    img {
      max-width: 100%;
    }
  
    p {
      text-align: justify;
    }
  }