body {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
body #particles {
  position: fixed;
  height: 100vh;
  width: 100vw;
  filter: blur(0.125rem);
}
body #particles canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
}
body #app {
  height: 100%;
  overflow-y: auto;
  color: #f1ffff;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000d10;
  background: linear-gradient(225deg, #000d10 0%, #071b24 10%, #0f3444 100%);
}
body #app .bg-primary {
  background-color: #1668b0 !important;
}
body #app .navbar .nav-link > * {
  color: inherit !important;
}
@media (min-width: 992px) {
  body #app .navbar .navbar-collapse {
    justify-content: space-evenly;
  }
}
body #app .form-group input {
  height: 2rem !important;
}
body #app input,
body #app .card {
  color: #2c3e50 !important;
}
body #app .title {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0.25rem 0 0.5rem 0;
}
body #app ul.icons {
  list-style-type: none;
  padding-left: 0;
}
body #app img.logo {
  height: 1.25rem;
  margin: 0 0.25rem;
  vertical-align: middle;
}
body #app blockquote {
  border-left: 3px solid rgba(241, 255, 255, 0.5);
  padding-left: 0.5rem;
}
body .visible-xs {
  display: none;
}
body .hidden-xs {
  display: block;
}
@media (max-width: 767px) {
  body .visible-xs {
    display: block;
  }
  body .hidden-xs {
    display: none;
  }
}
body .hover {
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}
body .hover:hover {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}
